name: "macos Release"

on:
  push:
    tags:
      - '*'

jobs:
  build-and-release:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: "go build -ldflags '-X main.version=${{ github.ref }}' -v ./..."

    - name: Test
      run: go test -v ./...

    - name: Rename Binary
      run: "mv gitlab-group-crawler ./gitlab-group-crawler-${{ github.ref }}-macos-x86_64"

    - name: Create a Release
      uses: marvinpinto/action-automatic-releases@v1.2.1
      with:
        repo_token: "${{ secrets.RELEASE_TOKEN }}"
        automatic_release_tag: "${{ github.ref }}"
        title: "Release ${{ github.ref }}"
        files: |
          gitlab-group-crawler-*
    

